In [9]:
import pandas as pd

edges_df = pd.read_csv('copperfield_edges.csv')
nodes_df = pd.read_csv('copperfield_nodes.csv')

edges_df.head(5)

     from        to
0     man       old
1     man    person
2     old    person
3     man  anything
4  person  anything

In [3]:
nodes_df.head(10)

        name part_of_speech
0  agreeable      adjective
1        man           noun
2        old      adjective
3     person           noun
4   anything           noun